<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.ClientMapper">
    <sql id="findClientDetailSql">
        SELECT
        CLIENT_ID clientId,
        CLIENT_NAME clientName,
        CLIENT_PHONE clientPhone ,
        CLIENT_EMAIL clientEmail,
        CLIENT_ADDRESS clientAddress,
        CLIENT_LEVEL clientLevel,
        CLIENT_SEX clientSex,
        CREATE_TIME  createTime,
        MODIFY_TIME modifyTime,
        creator
        FROM
        t_client
        WHERE 1 = 1
        <if test="client.clientName != null and client.clientName != ''">
            AND CLIENT_NAME like CONCAT ('%',#{client.clientName},'%')
        </if>
        <if test="client.clientPhone != null and client.clientPhone != ''">
            AND CLIENT_PHONE like CONCAT ('%',#{client.clientPhone},'%')
        </if>
        <if test="client.clientEmail != null and client.clientEmail != ''">
            AND CLIENT_EMAIL like CONCAT ('%',#{client.clientEmail},'%')
        </if>
        <if test="client.clientAddress != null and client.clientAddress != ''">
            AND CLIENT_ADDRESS like CONCAT ('%',#{client.clientAddress },'%')
        </if>
        <if test="client.clientLevel != null and client.clientLevel != ''">
            AND CLIENT_LEVEL = #{client.clientLevel}
        </if>
        <if test="client.clientSex != null and client.clientSex !=''">
            And CLIENT_SEX = #{client.clientSex}
        </if>
        <if test="client.createTimeFrom != null and client.createTimeFrom !=''">
            And create_time &gt; #{client.createTimeFrom}
        </if>
        <if test="client.createTimeTo!= null and client.createTimeTo !=''">
            And create_time &lt; #{client.createTimeTo}
        </if>
        <if test="client.creator!= null and client.creator!=''">
            And CREATOR like CONCAT ('%',#{client.creator},'%')
        </if>
    </sql>
    <select id="findClientDetailPage" parameterType="cc.mrbird.febs.system.entity.Client" resultType="cc.mrbird.febs.system.entity.Client">
        <include refid="findClientDetailSql"/>
    </select>

    <select id="findClientDetail" parameterType="cc.mrbird.febs.system.entity.Client" resultType="cc.mrbird.febs.system.entity.Client">
        <include refid="findClientDetailSql"/>
    </select>

    <select id="findByName" parameterType="string" resultType="cc.mrbird.febs.system.entity.Client">
      SELECT
        CLIENT_ID clientId,
        CLIENT_NAME clientNam,
        CLIENT_PHONE clientPhone ,
        CLIENT_EMAIL clientEmail,
        CLIENT_ADDRESS clientAddress,
        CLIENT_LEVEL clientLevel,
        CLIENT_SEX clientSex,
        CREATE_TIME  createTime,
        MODIFY_TIME modifyTime,
        creator
        FROM
        t_client
    </select>

    <select id="selectClientList" resultType="cc.mrbird.febs.system.entity.Client">
            SELECT
              *
            FROM
            t_client
    </select>

    <delete id="deleteListClient" parameterType="java.util.List" >
        delete from  t_client where CLIENT_ID in
        <foreach collection="idLis"  item="cId" separator="," open="(" close=")" index="">
            #{cId}
        </foreach>
    </delete>

    <update id="updateClient" parameterType="cc.mrbird.febs.system.entity.Client">
         UPDATE t_client SET CLIENT_NAME=#{clientName} , CLIENT_PHONE=#{clientPhone},
         CLIENT_EMAIL=#{clientEmail},  CLIENT_ADDRESS=#{clientAddress},
         CLIENT_LEVEL=#{clientLevel}, CLIENT_SEX=#{clientSex},
         CREATOR=#{creator}
         WHERE CLIENT_ID=#{clientId}
    </update>




</mapper>
