                     <div class="layui-fluid" id="procurement-add">
                    <form class="layui-form layui-table-form" lay-filter="procurement-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">


                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm febs-form-item-require">商品名称</label>
                                        <div class="layui-input-inline">
                                            <select name="commodityId" id="uclient-search" lay-verify="required" lay-search>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm  febs-form-item-require">采购数量</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="procurementCount" lay-verify="required" class="layui-input">
                                        </div>
                                    </div>


                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm febs-form-item-require">采购金额</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="procurementMoney" lay-verify="required" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">采购人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="procurementPerson" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item febs-hide">
                                        <button class="layui-btn" lay-submit="" lay-filter="procurement-add-form-submit" id="submit"></button>
                                        <button type="reset" class="layui-btn" id="reset"></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            validate = layui.validate;

        var resultData;
        var htmls = '<option value="">请选择</option>'; //全局变量
        $.ajax({
            url: ctx + 'procurement/select/list',
            type: "get",
            dataType : "json",
            contentType : "application/json",
            async: false,//这得注意是同步
            success: function (result) {
                resultData = result;
                for(var x in resultData){
                    htmls += '<option value = "' + resultData[x].commodityId + '">' + resultData[x].commodityName + '</option>'
                }
                $("#uclient-search").html(htmls);
            }
        });
        form.render('select');//需要渲染一下


        /*是表单验证的关键字*/
        form.verify(validate);
        form.render();
        formSelects.render();

        form.on('submit(procurement-add-form-submit)', function (data) {
            debugger;
            febs.post(ctx + 'procurement', data.field, function () {
                debugger
                layer.closeAll();
                febs.alert.success('新增商品成功');
                $('#febs-procurement').find('#query').click();
            });
            return false;
        });
    });
</script>