<div class="layui-fluid layui-anim febs-anim" id="febs-procurement" lay-title="采购记录">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="procurement-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">



                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商品名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="commodityName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">采购数量</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="procurementCount" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">采购人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="procurementPerson" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>


                                </div>
                            </div>

                           <!-- 查询表格信息-->
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="procurement:add,procurement:update,procurement:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="procurementTable" lay-data="{id: 'procurementTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

  <!--对表格的查看、修改、删除操作-->
<script type="text/html" id="procurement-option">
    <span shiro:lacksPermission="procurement:view,procurement:update,procurement:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> <!--无权限-->
    </span>

   <!--修改商品信息-->
    <a lay-event="edit" shiro:hasPermission="procurement:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>

        <!--删除商品信息-->
    <a lay-event="del" shiro:hasPermission="procurement:delete">
        <i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>

</script>


<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-procurement'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'procurementTime', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#procurementTime',
            range: true,
            trigger: 'click'
        });

        dropdown.render({ /*下拉显示*/
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('procurementTable');
                if (name === 'add') { /*==和===是有区别的alert('1'==1);//结果是true ('1'===1);//结果是false*/
                    febs.modal.open('新增采购记录', 'system/procurement/add', {
                        btn: ['提交', '重置'],
                        area:["500px","400px"],
                        yes: function (index, layero) {
                            $('#procurement-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#procurement-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的采购记录');
                    } else {
                        febs.modal.confirm('删除采购记录', '确定删除该采购记录？', function () {
                            var procurementIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                procurementIds.push(item.procurementId)
                            });
                            deleteProcurement(procurementIds.join(','));
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'procurement/excel', params, '商品采购信息表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增采购记录',
                perms: 'procurement:add'
            }, {
                name: 'delete',
                title: '删除采购记录',
                perms: 'procurement:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'procurement:export'
            }]
        });

        table.on('tool(procurementTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('采购记录', 'system/procurement/detail/' + data.procurementId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除采购记录', '确定删除该记录？', function () {
                    deleteProcurement(data.procurementId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改采购信息', 'system/procurement/update/' + data.procurementId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#procurement-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(procurementTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        //查询点击事件
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        //刷新点击事件
        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        //页面表格初始化渲染
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'procurementTable',
                url: ctx + 'procurement/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'commodityName', title: '商品名称', minWidth: 100},
                    {field: 'commodityPrice', title: '商品价格', minWidth: 100},
                    {field: 'procurementCount', title: '采购数量', minWidth: 100},
                    {field: 'procurementMoney', title: '采购金额', minWidth: 180},
                    {field: 'procurementTime', title: '采购时间', minWidth: 180, sort: true},
                    {field: 'procurementPerson', title: '采购人', minWidth: 180},
                    {title: '操作', toolbar: '#procurement-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            return {
                commodityName: $searchForm.find('input[name="commodityName"]').val().trim(),
                procurementCount: $searchForm.find("input[name='procurementCount']").val(),
                procurementPerson: $searchForm.find("input[name='procurementPerson']").val(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteProcurement(procurementIds) {
            febs.get(ctx + 'procurement/delete/' + procurementIds, null, function () {
                febs.alert.success('删除采购记录成功');
                $query.click();
            });
        }
    })
</script>